  /* Колір */
          /* лого  #000000 чорний    #2196F3 синій */
          /* Білий  #FFFFFF */
          /* Загальний текст #FFFFFF */
          /* опис   #757575 */
          /* підвал rgba(255, 255, 255, 0.6) */
          /* фон1    #F5F5F5 */
          /* фон2   #2F303A */
          /* фон3   #F5F4FA */
/*видалити крапки списка  */
ul{
    list-style: none;
}          

.page{
    background-color: #F5F5F5;
    color: #757575;
    }

/* logo*/


.logo{
    color: #000000;
}

.logo-style{
    color: #2196F3;
}

/* навігація */


.site-nav .link {
color: #212121;
}
.contact-nav .link{
    color:#757575;
}
.contact-nav .link:hover,
.contact-nav .link:focus{
    color: #2196F3;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: #2196F3;
}
 .site-nav .link.current{
    color: #2196F3;

} 

/* hero */


.hero .hero-title{
    color: #FFFFFF;

}

/* section*/


.section .section-title{
    color: #212121;
}

/* особливості */


.peculiarities-list .title{
    color: #212121;
}

/* наша команда */


.team-link .title{
    color: #212121;
}

/* ПОРТФОЛІО */
    
.project-link .title{
    color:#212121;
}

/* КНОПКА */

.button-hero{
    color: #FFFFFF;
    background-color: #2196F3;
}
.button{
    color: #212121;
    background-color: #F5F4FA;

}
.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color:#2196F3 ;
}